# OS junk
desktop.ini
.DS_Store
__MACOSX/

# Build files
build/
*.exe
*.out
*.o

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Output files (keep folder)
output/*
!output/.gitkeep

# Logs / temp
*.log
*.tmp

# VS Code (optional)
.vscode/